@import url('https://fonts.cdnfonts.com/css/sansation');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
* {
  
  padding: 0;
  margin: 0;
  font-family: 'Sansation', "Noto Sans TC";
}
*,*::after,*::before{
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: #FFFFFF;
}

a:hover {
  text-decoration: none;
}

img {

  max-width: 100%;
  display: block;
}
li{
    list-style: none;
}
html{width: 100vw;}